

    <div class="sidebar">
      <div class="sidebar-wrapper">

        <div class="logo">
          <a href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-mini">
            logo
          </a>
          <a href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-normal">
            Main Server
          </a>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">
          <li class="active ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Дашборд</p>
            </a>
          </li>
          <li>
            <a href="{% url 'promodem' %}">
              <i class="tim-icons icon-atom"></i>
              <p>Промодемы</p>
            </a>
          </li>
        {% endif %}

      </div>
    </div>
